@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
*{
  font-family: 'Droid Arabic Kufi';
}

body {
  font-size: 100%; 
}

blockquote {
  margin: 1.7em auto;
  padding: 2em;
  background: linear-gradient(white, white) padding-box, url('seaport.jpg') border-box 0/cover;
  border: 2em solid transparent;
  box-shadow: 5px 3px 30px black;
  font-size: 1.7em;
  line-height: 1.5;
  width: 80%;
}

footer {
  padding-top: 1.3em;
}

cite {
  font-style: normal;
  font-size: 0.7em;
  font-weight: bold;
}
p{
  font-size: 0.9em;
}

 
@media (max-width: 1024px) {
  
 .cont{
  margin-top:10%;
 }

}